:root {
    --background-color1: #800080;
    --background-color2: greenyellow;
    --background-color3: #272727;

    --main-text-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: var(--background-color3);
}

h1 {
    font-size: 5em;
    text-align: center;
    transition: 1s;
    padding: 30px;
    color: var(--main-text-color)
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.rectangle {
    width: 70%;
    height: 200px;
    background-color: var(--background-color1);
    transition: 1s;
}

.rectangle-1 {
    width: 70%;
    height: 200px;
    background-color: var(--background-color1);
    margin-top: 10px;
    display: none;
    transform: scale(0);
    transition: all 0.5s;
    transition-behavior: allow-discrete;
}

.rectangle-1-visible {
    display: block;
    opacity: 1;
    transform: scale(1);
}

.rectangle-2 {
    width: 70%;
    height: 200px;
    background-color: var(--background-color2);
    margin-top: 10px;
    transition: all 2s;
}

.rectangle-2-fade {
    opacity: 0
}

.rectangle-3 {
    width: 70%;
    height: 200px;
    background-image: linear-gradient(var(--background-color2), var(--background-color1));
    margin-top: 10px;
    transition: all 0.5s;
}

.rectangle-3-slide {
    transform: translateX(1620px);
    width: 0;
    opacity: 0;
}

.rectangle-4 {
    width: 70%;
    height: 200px;
    background-color: var(--background-color1);
    margin-top: 10px;
    transition: all 0.5s;
}

.rectangle-gold {
    background-color: var(--background-color2);
}

button {
    width: 200px;
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    transition: 1s;
    background-color: black;
    color: var(--main-text-color);
    border: none;
    cursor: pointer;
}

@starting-style {

    h1,
    .rectangle {
        opacity: 0;
        transform: translateX(-50px)
    }

    button {
        opacity: 0;
        transform: translateX(50px)
    }

    .rectangle-1 {
        opacity: 0;
        transform: scale(0)
    }

    .rectangle-2 {
        opacity: 0;
    }

    .rectangle-3 {
        opacity: 0;
        transform: translateX(-200px)
    }

    .rectangle-4 {
        opacity: 0;
        transform: translateX(200px)
    }

}