body {
    background-color: #222222;
}

.square {
    width: 100px;
    height: 100px;
    background-color: purple;
    border: 1px solid white;
    transition: opacity 2s, transform 0.5s
}

@starting-style {
    .square {
        opacity: 0;
        transform: scale(0)
    }
}