:root {
    --background-color: #adff2f;
    --background-color1: #008080;
    --background-color2: #a52779;
    --background-color3: #7fffd4;
    --background-color4: #1d1d1d;
    --background-color5: #04b0a2;

    --font-size: 10px;
    --font-size1: 18px;
    --font-size2: 30px;
    --font-size3: 40px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color4);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    overflow-x: hidden;
}

h2 {
    margin: 60px 20px;
    font-size: px;
    font-family: "Roboto Condensed", serif;
    font-size: var(--font-size3);
    text-align: center;
    color: var(--background-color1);
}

.squares-container {
    height: 470px;
}

.square {
    width: 80px;
    height: 80px;
    margin: 20px;
    background-color: var(--background-color);
    animation-name: move, fade, bounce, changeColor;
    animation-duration: 3s, 1s, 2s, 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
}

.square:nth-child(2) {
    animation-name: move, fade, bounce, changeColor;
    animation-duration: 5s, 0.5s, 1s, 0.5s;
    position: relative;
}

.square:nth-child(3) {
    animation-name: move, fade, bounce, changeColor;
    animation-duration: 6s, 0.7s, 0.5s, 2s;
    position: relative;

}

.square:nth-child(4) {
    animation-name: move, fade, bounce, changeColor;
    animation-duration: 4s;
    position: relative;
}

.square.paused {
    animation-play-state: paused;
}

.button-container,
.reset-button-container {
    display: flex;
    justify-content: center;
    margin: 70px;
}

.reset-button-container {}

button {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: var(--background-color1);
    color: var(--background-color);
    font-size: var(--font-size);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px;
    text-align: center;
    cursor: pointer;

    :hover {
        color: var(--background-color1);
        color: var(--background-color);
    }

    transition: 0.2s;
}

button:hover {
    background-color: var(--background-color);
    color: var(--background-color1);
}

.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.color-board {
    max-width: 700px;
    margin: 0 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
}

.board-square {
    width: 100px;
    height: 100px;
    background-color: var(--background-color);
    border: 1px solid var(--background-color4);
    transition: all 0.5s;
    transition-behavior: allow-discrete;
    cursor: pointer;
}

.board-square-flip {
    transform: rotate(45deg);
    background-color: var(--background-color3);
    z-index: 1;
}

.container {
    background-color: var(--background-color4);
    animation: changeBg;
    animation-timeline: scroll(self);
}

.background-container {
    width: 100%;
    height: 200vh;
    background-color: var(--background-color4);
    animation: changeBg;
    animation-timeline: scroll();
}

.frame {
    display: flex;
    width: 60%;
    height: 600px;
    margin: 60px auto;
    border: 1px solid var(--background-color);
    perspective: 5000px;
}

.shape {
    width: 100%;
    height: 100%;
    background-color: var(--background-color5);
    view-timeline-name: --shape;
    view-timeline-axis: block;
    animation-timeline: --shape;
    animation-name: changePerspective;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}

.aos-divs-container {
    width: 70%;
    margin: 60px auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.shapes {
    width: 400px;
    height: 400px;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(100vw - 140px));
    }

}

@keyframes bounce {
    0% {
        top: 0;
    }

    50% {
        top: 25px
    }

    100% {
        top: -50px;
    }

}


@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes changeColor {
    0% {
        background-color: var(--background-color);
    }

    100% {
        background-color: var(--background-color2);
    }
}

@keyframes changeBg {
    to {
        background-color: var(--background-color5);
    }
}

@keyframes changePerspective {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: rotateY(180deg);
    }
}



@media (max-width: 690px) {
    .frame {
        height: 500px;
    }
}

@media (max-width: 590px) {
    h2 {
        font-size: var(--font-size3);
    }

    .frame {
        height: 400px;
    }
}

@media (max-width: 490px) {
    .board-square {
        width: 80px;
        height: 80px;
    }

    .frame {
        height: 400px;
    }

    button {
        font-size: var(--font-size);
    }
}

@media (max-width: 390px) {
    .board-square {
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 290px) {
    .board-square {
        width: 50px;
        height: 50px;
    }

    button {
        padding: 5px;
    }

    h2 {
        font-size: var(--font-size2);
    }
}