:root {
    --background-color: #adff2f;
    --background-color1: #008080;
    --background-color2: #a52779;
    --background-color3: #7fffd4;
    --background-color4: #0f0f0f;
    --background-color5: #04b0a2;
    --background-color6: #000000;
    --background-color7: #ffffff;
    --background-color8: #1c77ff;


    --font-size: 10px;
    --font-size1: 18px;
    --font-size2: 20px;
    --font-size3: 30px;
    --font-size4: 40px;
    --neon-font-main: 140px;
    --neon-font1: 100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color4);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    margin: 40px 20px;
    font-family: "Funnel Display", sans-serif;
    font-size: var(--font-size4);
    background-image: url(./assets/background-h1\ \(20241122072918\).jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

}

nav {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    background-color: black;
}

ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px;
    color: var(--background-color);
}

li {
    list-style: none;
    cursor: pointer;
}

a {
    color: var(--background-color1);
    text-decoration: none;
    text-align: center;
    position: relative;
    width: max-content;
}

a::before {
    content: "";
    background-color: var(--background-color);
    width: 0;
    height: 1px;
    position: absolute;
    bottom: 0;
    margin: -3px 0;
    transition: 200ms;
}

a:hover::before {
    width: 100%;
}


a:hover {
    color: var(--background-color);
}

h2 {
    background-image: linear-gradient(to right, var(--background-color3), var(--background-color1));
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding: 70px 0 30px;
    font-size: var(--font-size3);
    font-family: "Roboto Condensed", serif;
    font-size: var(--font-size3);
    text-align: center;
}


/* EVENT DELEGATION */

.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.color-board {
    max-width: 700px;
    margin: 0 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
}

.board-square {
    width: 100px;
    height: 100px;
    background-color: var(--background-color4);
    border: 1px solid var(--background-color);
    transition: all 0.5s;
    transition-behavior: allow-discrete;
    cursor: pointer;
}

.board-square-flip {
    transform: rotate(45deg);
    background-color: var(--background-color3);
    z-index: 1;
}

/* ANIMATIONS - USING AOS LIBRARY
(clip-path) */

.aos-divs-container {
    width: 50%;
    margin: 60px auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.aos-div {
    width: 120px;
    height: 120px;
    background-image: linear-gradient(var(--background-color2), var(--background-color));
}

.aos-div:nth-child(1) {
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.aos-div:nth-child(2) {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.aos-div:nth-child(3) {
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}

.aos-div:nth-child(4) {
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}

.aos-div:nth-child(5) {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.aos-div:nth-child(6) {
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

/* KEY FRAMES */

.squares-container {
    height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.square {
    width: 70px;
    height: 70px;
    margin: 20px;
    background-color: var(--background-color);
    animation-name: move, fade, changeColor;
    animation-duration: 3s, 1s, 2s, 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: paused;
    position: relative;
}

.square:nth-child(2) {
    animation-name: move, fade, bounce, changeColor;
    animation-duration: 5s, 0.5s, 1s, 0.5s;
    position: relative;
}

.square:nth-child(3) {
    animation-name: move, fade, bounce, changeColor;
    animation-duration: 6s, 0.7s, 0.5s, 2s;
    position: relative;

}

.square:nth-child(4) {
    animation-name: move, fade, bounce, changeColor;
    animation-duration: 4s;
    position: relative;
}

.square.running {
    animation-play-state: running;
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 40px;
}

button {
    width: 50%;
    padding: 15px;
    border: none;
    background-color: var(--background-color1);
    color: var(--background-color);
    font-size: var(--font-size);
    cursor: pointer;

    :hover {
        color: var(--background-color1);
        color: var(--background-color);
    }

    transition: 0.2s;
}

button:hover {
    background-color: var(--background-color);
    color: var(--background-color1);
}

/* USING PERSPECTIVE AND SCROLL() */

.container {
    background-color: var(--background-color4);
    animation: changeBg;
    animation-timeline: scroll(self);
}

.background-container {
    width: 100%;
    height: 200vh;
    background-color: var(--background-color4);
    animation: changeBg;
    animation-timeline: scroll();
}

.frame {
    display: flex;
    width: 60%;
    height: 400px;
    margin: 40px auto;
    border: 1px solid var(--background-color);
    perspective: 5000px;
}

.shape {
    width: 100%;
    height: 100%;
    background-color: var(--background-color5);
    background-image: url(./assets/cave-canem.webp);
    background-size: contain;
    background-position: center;
    background-blend-mode: darken;
    view-timeline-name: --shape;
    view-timeline-axis: block;
    animation-timeline: --shape;
    animation-name: changePerspective;
    animation-range: entry 25% cover 40%;
    animation-fill-mode: both;
}


/* NEON SIGN */

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 65%;
    height: 250px;
    margin: auto;
    user-select: none;
}

.logo b {
    font-family: "Courgette", cursive;
    font-size: var(--neon-font-main);
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em var(--background-color8), 0 0 0.5em var(--background-color8), 0 0 0.1em var(--background-color8), 0 10px 3px var(--background-color6);
}

.logo b span {
    animation: blink linear infinite 2s;
}

.logo b span:nth-of-type(2) {
    animation: blink linear infinite 3s;
}

@keyframes blink {
    78% {
        color: inherit;
        text-shadow: inherit;
    }

    79% {
        color: #333;
    }

    80% {

        text-shadow: none;
    }

    81% {
        color: inherit;
        text-shadow: inherit;
    }

    82% {
        color: #333;
        text-shadow: none;
    }

    83% {
        color: inherit;
        text-shadow: inherit;
    }

    92% {
        color: #333;
        text-shadow: none;
    }

    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}


/* Declaration of keyframes */

@keyframes move {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(100vw - 140px));
    }

}

@keyframes bounce {
    0% {
        top: 0;
    }

    50% {
        top: 25px
    }

    100% {
        top: -50px;
    }

}


@keyframes fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes changeColor {
    0% {
        background-color: var(--background-color);
    }

    100% {
        background-color: var(--background-color1);
    }
}

@keyframes changeBg {
    to {
        background-color: var(--background-color5);
    }
}

@keyframes changePerspective {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: rotateY(180deg);
    }
}

@keyframes blink {
    78% {
        color: inherit;
        text-shadow: inherit;
    }

    79% {
        color: #333;
    }

    80% {

        text-shadow: none;
    }

    81% {
        color: inherit;
        text-shadow: inherit;
    }

    82% {
        color: #333;
        text-shadow: none;
    }

    83% {
        color: inherit;
        text-shadow: inherit;
    }

    92% {
        color: #333;
        text-shadow: none;
    }

    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}

/* Media queries */

@media (max-width: 690px) {
    h2 {
        padding: 20px;
    }

    nav {
        position: unset;
    }

    .frame {
        height: 500px;
    }

    .aos-divs-container {
        width: 80%;
    }
}

@media (max-width: 590px) {

    h2 {
        font-size: var(--font-size3);
    }

    .frame {
        height: 400px;
    }

    .aos-div {
        width: 60px;
        height: 60px;
    }

}

@media (max-width: 490px) {
    .board-square {
        width: 80px;
        height: 80px;
    }

    .frame {
        height: 400px;
    }

    button {
        font-size: var(--font-size);
    }
}

@media (max-width: 390px) {
    h1 {
        font-size: var(--font-size3);
    }

    h2 {
        font-size: var(--font-size2);
    }

    .board-square {
        width: 70px;
        height: 70px;
    }

}

@media (max-width: 290px) {
    h1 {
        font-size: var(--font-size2);
    }

    button {
        padding: 5px;
    }

    h2 {
        font-size: var(--font-size1);
    }

    
    .logo b {
        font-size: var(--neon-font1)
    }

    .board-square {
        width: 50px;
        height: 50px;
    }
}